body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 95%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 250px;
    padding: 40px;
}
.navbar{
    padding: 50px;
}
.navbar a{
    text-decoration: none;
    color: rgb(0, 225, 255);
    font-weight: bold;
    font-size: 18px;
    margin-left:20px;
}
main{
    width: 100%;
}
#home{
    display: flex;
    flex-direction: row;
}
.text{
    width: 40%;
    padding: 20px;
    align-self: center;
    color: rgb(0, 225, 255);
    font-size: 20px;
}
.text span{
    color: black;
    font-size: 48px;
    font-weight: bold;
}
.image{
    width: 60%;
}
.image img{
    width: 100%;
}
.image-a img{
    width: 70%;
    display: block;
    margin: auto;
}
.title-k,.title-e,.title-a,.title-t,.title-c{
    text-align: center;
    margin-top:100px;
    margin-bottom: 50px;
}
.content-k,.content-e{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-t{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}
.trainer{
    width: 20%;
    text-align: center;
}
.trainer img{
    width: 80%;
    display: block;
    margin: auto;
}
.content-c{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-c button{
    width: 250px;
    color: white;
    background-color: rgb(0, 225, 255);
    border: none;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}
.c1,.c2{
    width: 90%;
    height: fit-content;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(10, 227, 227, 0.138);
    border-radius: 5px;
    margin: 20px auto;
}
.content-a a{
    text-decoration: none;
    color: rgb(0, 225, 255);
}
.card{
    width: 30%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(10, 227, 227, 0.138);
    border-radius: 5px;
}
.bg{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.bg:hover{
    opacity: 1;
}
.bg p{
    width: fit-content;
    color: white;
    padding: 20px;
}
.desc{
    text-align: center;
    padding: 20px;
}
.desc button, .more{
    color:white;
    background-color: rgba(0, 225, 255, 0.773);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(10, 227, 227, 0.138);
}
.more{
    margin: 50px;
    position: absolute;
    right: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
.k1{
    background-image: url('image/frontend.png');
}
.k2{
    background-image: url('image/backend.png');
}
.k3{
    background-image: url('image/ui\ ux.png');
}
.k4{
    background-image: url('image/c++.webp');
}
.k5{
    background-image: url('image/git.webp');
}
.k6{
    background-image: url('image/java.jpg');
}
.k7{
    background-image: url('image/php.jpg');
}
.k8{
    background-image: url('image/python.jpg');
}
.k9{
    background-image: url('image/sql.jpg');
}
.e1{
    background-image: url('image/event1.jpg');
}
.e2{
    background-image: url('image/event2.jpg');
}
.e3{
    background-image: url('image/event3.jpg');
}
.e4{
    background-image: url('image/event4.jpg');
}
footer{
    text-align: center;
    margin-top: 150px;
}
@media (max-width:1000px) {
    header,#home,.content-e,.content-k,.content-t{
        display: block;
    }
    .logo,.navbar{
        text-align: center;
    }
    .text,.image,.trainer{
        width: 80%;
        padding: 10px;
        margin: auto;
        text-align: center;
    }
    .trainer img{
        width: 50%;
    }
    .card{
        width: 70%;
        margin: auto;
    }
}
